*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
/* MAIN BLOCKS  */
header{
    height: 75px;
    padding-top: 10px;
}
.sidebar{
    background-color: rgb(16, 16, 62);
    height: calc(100vh - 75px);
    width: 100px;
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
}
#main-content{
    width: calc(100vw - 100px);
    height: calc(100vh - 75px);
}
#container_main{
    display: flex;
}
/* HEADER  */

.logo-mobile{
    height: 50px;
    margin: 10px 0;
}

header .d-flex{
    background-color: #fff;
    height: 50px;
}
/* MAIN  */

/* BG AND COLORS  */
.bg_grey{
    background-color: rgb(227, 227, 227);
}
.bg_white{
    background-color: #fff;
}

.bg_blue{
    background-color: rgb(60, 60, 205);
}
/* MEDIA QUERY  */
@media screen and (min-width: 992px) {
    .sidebar{
        width: 200px
    }
    #main-content{
        width: calc(100vw - 200px);
    }
}