*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
/* MAIN BLOCKS  */
header{
    height: 75px;
    padding-top: 10px;
}
.sidebar{
    background-color: rgb(16, 16, 62);
    height: calc(100vh - 75px);
    width: 100px;
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
}
#main-content{
    width: calc(100vw - 100px);
    height: calc(100vh - 75px);
}
#container_main{
    display: flex;
}
/* HEADER  */

.logo-mobile{
    height: 50px;
    margin: 10px 0;
}

header .d-flex{
    background-color: #fff;
    height: 35px;
}
/* SIDEBAR  */
.sidebar ul.d-lg-block a{
    text-decoration: none;
}
.sidebar ul.d-lg-block li:hover{
    background-color: #a8a6a6;
}
/* MAIN  */
table tr td:first-child::before{
    content: "";
    background-size: cover;
    background-image: url(../img/class-avatar.jpg);
    width: 30px;
    height: 30px;
    position: absolute;
    left: 5px;
    top: 5px;

}
table tr td:first-child{
    padding-left: 50px;
    position: relative;
}
table tr td:not(:first-child){
    text-align: center;
}
/* BG AND COLORS  */
.bg_grey{
    background-color: rgb(227, 227, 227);
}
.bg_lightgrey{
    background-color: #F8F9FA;
}
.bg_white{
    background-color: #fff;
}

.bg_blue{
    background-color: #1B72E8;
}
.bg_darkblue{
    background-color: #165BBA;
}

/* OFFCANVAS  */
.offcanvas.offcanvas-end{
    width: 100vw;
}
.lh_20{
    line-height: 20px;
}
/* MEDIA QUERY  */
@media screen and (min-width: 992px) {
    .sidebar{
        width: 200px
    }
    #main-content{
        width: calc(100vw - 200px);
    }
    .offcanvas.offcanvas-end{
        width: 50vw;
    }
}
